.font-whitney {
	font-family: HCo Whitney SSm, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.slider {
	appearance: none;
	-webkit-appearance: none;
	width: 100%;
	height: 10px;
	outline: none;
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
}

.slider:hover {
	opacity: 1;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 23px;
	height: 24px;
	border: 0;
	border-radius: 50%;
	cursor: pointer;
	background-color: rgb(226 232 240);
}

.slider::-moz-range-thumb {
	width: 23px;
	border-radius: 50%;
	height: 24px;
	border: 0;
	cursor: pointer;
	background-color: rgb(226 232 240);
}

.slick-slide[aria-hidden="true"] {
	opacity: 45%;
}

div.slick-list {
	overflow: visible;
}

.slick-arrow {
	z-index: 1;
}

.skeleton {
	animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
	0% {
		background-color: hsl(200, 20%, 70%);
	}

	100% {
		background-color: hsl(200, 20%, 95%);
	}
}
